<admin>
     <routers>
         <test>
            <use>admin</use>
            <args>
               <module>Pfay_Test</module>
               <frontName>admintest</frontName>
            </args>
         </test>
      </routers>
 </admin>
 <adminhtml>
   <layout>
      <updates>
          <test>
              <file>test.xml</file>
           </test>
      </updates>
   </layout>
   <menu>
      <test translate="title" module="adminhtml">
         <title>My plugins</title>
         <sort_order>100</sort_order>
         <children>
             <set_time>
                   <title>Adress book</title>
                   <action>admintest/adminhtml_index</action>
              </set_time>
          </children>
       </test>
    </menu>
</adminhtml>
